extends dglenn

block content
  p.
    Hi welcome to my website!!! under construction LOL
  h2 POETRY!!
  p.
    I started to write poetry! Have a look at my poems:
  p
    a(href='private/poems.txt') click here
