doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://code.divshot.com/geo-bootstrap/swatch/bootstrap.min.css')
  body
    header.container
      h1= title
    .container
      block content
