extends layout

block content
  h1= title
  form(action="bank.php", method="post")
    p
      input(name="username", type="text")
    p
      input(name="password", type="password")
    p
      button(type="submit") Submit
