extends layout

block content
  h1= title
  form(action="secret", method="post")
    p
      input(name="password", type="password")
    p
      button(type="submit") Submit

  if shash
    p Wrong. The SHASH of your password: #{shash}.
