extends layout

block content
  h1= title
  p.
    Hey, there's nothing here. Seriously. But good on you for playing with the
    URL. That's a useful skill for these kinds of exercises. Good luck and have
    fun, and remember, if you're stuck, you can work with someone else or
    discuss on the slack!
