extends layout

block content
  h1= title
  p.
    Hacking is a lot of work, and it's expensive too. The North Bank is
    offering a free $100 signup bonus though... So take advantage of it.
    Withdraw your cash and you'll be set to complete the next part of this
    challenge.
  #term
